/* font */

@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Halant:wght@300;400;500;600;700&family=Raleway:wght@100;200;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
}


.section {
    width:100%;
    max-width: 1440px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-content: stretch;
    align-items: center;
}


.flextext{
    flex: 0 0 33.33%; 
    padding:20px 20px;
    text-align: center;
    
}

.borders {
    border: 1px solid #21b1eb;
    background-color: whitesmoke;
}

.flex100{
    flex: 0 0 100%; 
    padding:20px 20px;
    text-align: center;
}

.row_flex ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;  
    
}

.row_flex ul li {
    list-style: circle;
    text-align: left;
    list-style-position: inside;
}

/*clearfix*/
.row_flex::after {
	content: "";
	display: table;
	clear: both;
}


